*{
    margin:0px;
    box-sizing: border-box;
    border-style: none;
}.detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.recipe-image{
    width: 40%;
    height: 500px;
    object-fit: cover;
    margin: 0 auto;

}
img{
    width: 100%;
    height: 100%;

}
.text{
    width: 55%;
  display: flex;
  flex-direction: column;
  background-color: blue;
}
.up{
    background-color: brown;
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.steps{
    width: 300px;
}
.banner{
    margin-top: -50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    position: relative;

}
.banner-text{
    width: 40%;
    height: 100%;
    margin-top: 10%;
    font-family: 'Barlow', sans-serif;
  font-size: 38px;
} 
.banner-image{
    width: 60%;
    height: 600px;
}
.banner-image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.menu{
    width:70%;
    height: 50px;
    background-color: white;
    /* box-shadow: 2px 1px 2px 2px gray; */
    position: absolute;
    top: 535px;
}
.banner-text button{
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    height: 45px;
    font-size: 20px;
    background-color: rgba(190, 197, 206, 0.986)
}
.main-section{
    width: 100%;
    height: 2000px;
    display: flex;
    margin-top: 10px;
}
.title{
    width:80px;
    margin: 30px auto;
}
.title button{
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    height: 45px;
    font-size: 20px;
    background-color: rgba(190, 197, 206, 0.986)
}
.recipes{
    width: 100%;
}