
.footer {
  padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    /* padding-bottom: 30px; */
    width: 100%;
    height: 300px;
    margin: 0 auto;
    /* background-color:  rgba(243, 8, 27, 0.521); */
    margin-top: 20px;
    text-align:center ;
    background-image: url("../../../files/orange.png"),url("../../../files/Red-Apple.png"), url("../../../files/tomato.png");
    background-position: left bottom,center bottom, right top;
   background-repeat: no-repeat, no-repeat; 
   background-size: 90px 100px;
   /* position: absolute; */
   /* bottom: 0; */
}

.company h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.company h2::after {
    content: "";
    display: block;
    width: 50%;
    padding-top: 15px;
    border-bottom: 2px solid rgb(80, 167, 119);
}
li{
    list-style: none;

}
.company li {
    padding: 10px;
    color: rgb(164, 170, 178);
}

.subscribe {
    display: flex;
    flex-direction: column;
}

.subscribe h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    border-top: 1px solid rgb(241, 241, 241);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer li {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}
.cs-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    /* padding: .3em .1em; */
    border:1px solid rgb(156, 149, 149);
    margin: 50px auto;
    border-radius: 25px;
  }
  .cs-btn input{
    width: 50%;
    border-radius: 25px;
    border: none;
    /* padding:10px;  */
    outline: none;
  }
   .c-btn{
    /* width: 30%; */
    /* min-width: 300px; */
    vertical-align: middle; 
    padding: .3em 1em;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: red;
    color: white;
    font-size: 14px;
  } 
  
  @media screen and  (max-width:600px){
    .cs-btn{
        width: 90%;
        /* margin: 50px auto; */
      }
      .c-btn{
          width: 50%;
    padding: .15em 3em;

      }
      .cs-btn input{
        /* width: 100%; */
        padding: 10px;
      }
      .footer{
        padding-left: 20px;
        padding-right: 20px;
      }
      .footer {
         background-size: 30px 30px;
         /* position: absolute; */
         /* bottom: 0; */
      }
      footer{
          flex-direction: column;
          justify-content: center !important;
      }
   
    footer ul{
        width: 80%;
        display: flex;
        margin-bottom: 0 !important;
        justify-content: space-around;
    }
  }

  @media screen and  (min-width:600px) and (max-width:1200px){
    .cs-btn{
      width: 70%;
      /* margin: 50px auto; */
    }
    .c-btn{
        width: 50%;
    padding: .15em 3em;
    }
    .cs-btn input{
      /* width: 100%; */
      padding: 10px;
    }/* .footer {
          height: 300px;
         background-size:60px 70px;
         padding: 40px !important;
      } */
  }
