
.all-recipes{
    width:80%;
    height: 800px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}
.recipe-cards {
    width: 300px;
    height: 350px;
    border-radius: 12px;
    margin: 6px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px grey;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.details{
   height: 35%;
   margin-top: 4px;
   margin-left: 10px;
   text-align: left;
    
}
.card-image{
    height: 60%;
    object-fit: cover;
    background-color: rgb(138, 9, 73);
}
.recipe-actions{
    height: 15%;
    border-top: 1px whitesmoke solid; ;
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}